<div class="container margin-more-top">
    <hr>
    <div class="text-center center-block">
        <h3>Thank You ! Visit Again</h3>
        <a target="_blank" href="https://www.linkedin.com/in/abhranil-sarkar-72888aba/"><i id="social-ln"
                class="fa fa-linkedin-square fa-3x social"></i></a>
        <a target="_blank" href="https://github.com/avranil24"><i id="social-git"
                class="fa fa-github-square fa-3x social"></i></a>
        <a target="_blank" href="mailto:avranil8@gmail.com"><i id="social-em"
                class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
</div>